/* Grid */

.column {
    flex-basis: 100%;
}
.drop-targets {
    min-height: 100px;
    border: 1px solid black;
    padding: 0.8rem;
    margin: 0.8rem;
}

.hold {
  border: solid 5px #ccc;
}
.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.group-name{
    font-size: 24px;
    margin: 1.2rem 0;
    text-align: center;

}
.group .weight {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #000;
}

.group .details .weight {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    background: #052A90FF;
    margin: 0 0.8rem 0 0;
}

.group {
    display: flex;
    background: #eae4e9ff;
    margin: 1.2rem;
    border: 1px solid black;
    padding: 0.8rem;
}

.details .group{
    margin: 0 1.2rem -1px 1.2rem;

}

.group-2 {
    background: #fff1e6ff;
}

.group-3 {
    background: #fde2e4ff;
}

.group-4 {
    background: #fad2e1ff;
}

/*', '#e2ece9ff', '#bee1e6ff', '#f0efebff',
'#dfe7fdff', '#cddafdff', '#dfd7fcff', '#f8b4c4ff', '#ffedc2ff', '#60fbd2ff', '#7cd5f3ff', '#8fdbf5ff', '#3dccc7ff'
];
} */


@media screen and (min-width: 992px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .column {
        flex: 1;
    }

    .flights {
        width: 80%
    }

    .flight {
        border: 1px solid black;
        text-align: center;
    }

    .names {
        border: 1px solid black;
        text-align: left;
        margin-left: 2.4rem;
    }

}


.hide {
    display: none;
}