:root {
    --translateX: 0;
    --translateY: 0;
}

h1, h2, h3 {
    text-align: center;
}

.flights {
    order: 2;
}

.border {
    border-color: black !important;
}

.flight-label {
    position: relative;
    top: -2.4rem;
    text-align: left;
}

.flight-total-cell {
    background: lightgoldenrodyellow;
}

.flight {
    border: 1px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(4rem, 1fr));
    grid-auto-rows: minmax(30px, auto);
    background: palegoldenrod;
}

.flight-summary, .people-summary, .flights-summary {
    display: grid;
    grid-template-columns:repeat(4, minmax(4rem, 1fr));
    grid-auto-rows: minmax(30px, auto);
}

.flights-summary {
    grid-template-columns: 40px repeat(3, minmax(4rem, 1fr));
}

.grand-totals {
    display: grid;
    grid-template-columns: calc(25% - 40px) auto;
    background: mediumturquoise;
}

.grand-totals:before {
    content: 'GRAND TOTALS';
    font-size: 16px;
    border: none;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    transform: rotate(-90deg);

}

.grand-total-cell {
    background: paleturquoise;
}

.flight-summary:before, .people-summary:before, .flights-summary:before {
    content: '\f496';
    background: #3f3737;
    color: white;
    font-size: 18px;
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    letter-spacing: .1rem;
    border: none;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.people-summary:before {
    content: '\f0c0';
    border-top: 1px solid gray;
}

.flights-summary.counts:before {
    content: '\f0c0';
    border-top: 1px solid gray;

}

.full-row {
    grid-column-start: 1;
    grid-column-end: 4;
}

aside {
    order: 1;
}

.drop-targets {
    min-height: 100px;
    border: 1px solid black;
    margin: 0.8rem;
    padding: 3rem 0.8rem;
    background: #ffffff;
}

.names {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-column-gap: 0.8rem;
}

.names .flight-label {
    grid-column-start: 1;
    grid-column-end: 3;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.person-item {
    padding-left: 0.4rem;
    display: block;
    height: 24px;
}

.weight + .person-item {
    padding-left: 0.8rem;
}


.group-name {
    font-size: 22px;
    margin: 0.2rem auto;
    text-align: center;
    display: block;
}

.flight .group-name {
    width: max-content;
    text-align: center;
}

.group .weight {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group.person .weight {
    display: flex;
    min-width: 55px;
    width: max-content;
    height: auto;
    font-size: 18px;
    line-height: 20px;
    background: #052A90FF;
    border-radius: 0;
    margin: -0.4rem;
    padding: 0.2rem;
    border: 1px solid white;
    align-text: center;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    background: #eae4e9ff;
    border: 1px solid black;
    padding: 0.4rem;
    transform: translate(calc(var(--translateX) * 1px), calc(var(--translateY) * 1px));
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.details .group {
    margin: 0 1.2rem;
    border-bottom: none;
    width: calc(100% - 1.2rem);
}

.group-details .weight {
    align-self: center;
}

.details .group:last-child {
    border-bottom: 1px solid black;
}

.group.hold {
    border: solid 5px #ccc;
    opacity: 0.75;
}

.group-0 {
    background: #ffffff;
}

.group-2 {
    background: #fff1e6ff;
}

.group-3 {
    background: #fde2e4ff;
}

.group-4 {
    background: #fad2e1ff;
}

/*', '#e2ece9ff', '#bee1e6ff', '#f0efebff',
'#dfe7fdff', '#cddafdff', '#dfd7fcff', '#f8b4c4ff', '#ffedc2ff', '#60fbd2ff', '#7cd5f3ff', '#8fdbf5ff', '#3dccc7ff'
];
} */

@media screen and (min-width: 576px) {
    .grand-totals:before {
        content: 'GRAND TOTALS';
        font-size: 16px;
        transform: none;
    }
}

@media screen and (min-width: 768px) {
    .names {
        grid-template-columns: repeat(3, 30%);
    }

    .names .flight-label {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media screen and (min-width: 992px) {
    .fs-1 {
        font-size: 34px !important;
    }

    .fs-3 {
        font-size: 26px !important;
    }

    .my-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .px-2 {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .flights {
        order: 1;
    }


    .flight-label {
        top: -0.8rem;
    }

    .names {
        text-align: left;
        margin: 2rem;
    }

    aside.column {
        max-width: 35vw;
        width: 35vw;
        order: 2;
    }

    .drop-targets {
        padding: 0.8rem 0.8rem 3rem;
    }

}


.hide {
    display: none !important;
}